.playlist-preview {
    margin-block-end: 15px;
    margin-inline-end: 15px;
    display: flex;
    flex-direction: column;

    .img-container {
        width: 100%;
        height: 100%;

        img {
            align-self: center;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .playlist-preview-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row-reverse;


        }
    }

    .play-video {
        padding: 10px 16px;
        background-color: #ff0202;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s;
        box-shadow: inset 0 0 6px 1px white;

        &:hover {
            opacity: 75%;
        }

    }

    .video-details {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 550px;

        &>* {
            text-overflow: hidden;
        }

        p {
            line-height: 1.5;
        }

    }
}