.app-header {
    padding: 0 100px;
    box-shadow: 0 0 10px 1px rgb(177, 177, 177);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #ff0202;
    nav{
        display: flex;
        align-items: center;
        >*{
            &:hover{
                cursor: pointer;
            }
        }
        >*:not(:last-child){
            margin-inline-end: 10px;
        }
    }

}