.play-list-player {
  width: 100%;
  height: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 25vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .youtube-container {
    width: 100%;
    height: 100%;
    display: flex;
  justify-content: center;


    iframe {
      width: 550px;
      height: 400px;
    }
  }
}