.play-list-filter {
    margin-bottom: 30px;
    text-align: center;
    form{
        &>*:not(:first-child){
            margin-inline-start: 10px;
        }
        input{
            padding:8px 16px;
            outline: none;
        }
        button{
            padding:10px 16px;
            background-color:#ff0202;
            color: white;
            border:none;
            border-radius: 10px;
            cursor: pointer;
            transition: .3s;
            box-shadow: inset 0 0 6px 1px white;
            &:hover{
                opacity: 75%;
            }
        }
    }
}